<div class="comments">
  <% comments.each do |comment| %>
    <div class="comments__list">
      <div class="comments__list--details">
        <p><%=user.name %>: <%= comment.text %></p>
      </div>
    </div>
  <% end %>
</div>
