<div class="users__list">
  <%= render partial: 'partials/user', locals: { user: @user} %>
</div>

<div class="bio">
  <h4>Bio</h4>
  <p><%= @user.bio %></p>
</div>

<% @posts.each.with_index(1) do |post, index| %>
  <%= render partial: 'partials/post', locals: { post: post, type: '', id: index } %>
<% end %>
