<h1>Home page</h1>

<div class="home-card">
    <div class="home-card__body">
          <%= link_to 'Login',  new_user_session_path, class: "btn btn-home" %>
          <%= link_to 'Sign UP',  new_user_registration_path, class: "btn btn-home" %>
    </div>
</div>