<% user_name = '' %>
<% @posts.each.with_index(1) do |post, index| %>
  <% unless post.user.name == user_name %>
    <% user_name = post.user.name %>
    <div class="line-break"></div>
    <%= render partial: 'partials/user', locals: { user: post.user} %>
    <%= render partial: 'partials/form', locals: { post_type: 'post'} %>
  <% end %>
  <%= render partial: 'partials/post', locals: { post: post, type: 'all_post', id: index } %>
  <%= render partial: 'partials/comment', locals: { comments: post.most_recent_five_comments, user: post.user } %>
<% end %>