.bio,
.posts {
  border: 1px solid var(--grey-border);
  padding: 0.5rem;
  background-color: var(--white);
  text-align: justify;

  p {
    margin-top: 1rem;
  }
}

.posts {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;

  &__like-comments {
    align-self: flex-end;
  }
}

.comments {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  border: 1px solid var(--grey-border);
  padding: 0.5rem;
  background-color: var(--white);
}

.line-break {
  &:not(:first-child) {
    margin: 1rem 0 1.2rem 0;
    border-bottom: 2px dashed #000;
  }
}
